@import '/fonts.css';

@media (min-width: 300px) and (max-width: 410px) {

.Contacts {
        max-width: 100vw;
        height: auto;
        display: flex;
        position: absolute;
        top: 7px; /* Прикрепить шапку к верху экрана */
        z-index: 1000; /* Определите z-индекс, если необходимо */
        /* Дополнительные стили для вашей шапки */
        background-color: #242424;
        font-family: 'a_FuturaOrtoLt', Arial, sans-serif;

     .Contacts_title{
        margin-top: 60px;
        margin-left: 50px;
        font-weight: bold;
         font-size: 22px;
    }

         .supply_header{
        width: 1px;
    }


     .contacts_logo{
             width: 100px;
    margin-left: 20px;
    margin-top: 20px;
    position: absolute;
    z-index: 1999;
     }

     .contacts_menu_icon{
          width: 50px;
          height: 50px;
          margin-left: 10px;
          position: fixed;
          margin-top: 15px;
          overflow: hidden;
          z-index: 10110;
         visibility: hidden;
}


    .logo-supply {
        position: fixed;
        max-width: 24px; /* Установите желаемую ширину для логотипа */
        max-height: 18px;
        margin-left: 25px;
        margin-top: 15px;
    }

    .Contacts_title:after {
        content: "";
        width: 280px;
        height: 1px;
        background-color: #FFF; /* Цвет линии */
        position: absolute;
        margin-left: -190px;
        margin-top: 27px;
    }
       .menu_supply{
    position: fixed;
    max-width: 20px; /* Установите желаемую ширину для логотипа */
    max-height: 15px;
    margin-left: 330px;
    margin-top: 15px;
    z-index: 2000;
}
.contacts_phone{
    margin-left: -1px;
    width: 1px;
    height: 1px;
}

    .Contacts_info_glav{
        margin-top: 220px;
        position: absolute;
        margin-left: 22px;
        width: 410px;
        font-size: 15px;
        color: #000000;
        text-align: start;
    }

    .Contacts_info{
        margin-top: 10px;
    }

    .Contacts_info_callback{
        display: none;
    }

    .Contacts_card{
        width: 1196px;
        height: 550px;
        position: absolute;
        margin-left: -400px;
        margin-top: 60px;
        border: 3px solid white;
        zoom: 80%;
    }

    .contacts_menu{
    display: flex;
    color: black;
    position: absolute;
    margin-left: 90px;
    width: 1px;
        margin-top: -3px;
        visibility: hidden;
}

.contacts_menu a{
    color: black;
    z-index: 999;
    font-family: "Cera Pro Regular", sans-serif;
        white-space: nowrap;
    padding-left: 1px;
    font-size: 18px;
}

.contacts_menu p{
    color: black;
    z-index: 999;
        white-space: nowrap;
  font-family: "Cera Pro Regular", sans-serif;
    padding-right: 10px;
    font-size: 18px;
}

.contacts_title{
        color: black;
    font-size: 60px;
    font-weight: 700;
    font-family: a_FuturaOrtoBold, sans-serif;
    margin-top: 100px;
    margin-left: 16px;
    z-index: 1;
    position: absolute;
    opacity: 0.1;
}

.Contacts_title{
    margin-top: 275px;
    margin-left: 600px;
    font-weight: bold;
}

    .menu_supply_activate {
  background-color: #232325; /* Чуть прозрачный фон для эффекта размытия */
  position: fixed;
  top: 0;
  left: -1px;
  width: 390px;
  height: 1000px;
  z-index: 999; /* Убедитесь, что z-index больше, чем у других элементов */
  display: flex;
  opacity: 1;
  pointer-events: auto; /* Включаем события мыши и сенсорных устройств */
  animation: slideRight 1s ease forwards;

.menu_supply_activate_city{
    margin-top: 650px;
    margin-left: -140px;
    font-size: 20px;
}

.menu_supply_activate_number{
    margin-top: 710px;
    margin-left: -155px;
    font-size: 20px;
    width: 300px;
}

.contacts_top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    margin-left: -900px;
    margin-top: 360px;
}



}


.menu_supply_activate_close{
    border: 1px solid #FFF ;/* Add your desired border color and width */
    padding: 5px 10px;
    border-radius: 45px;
    height: 30px;
    position: absolute;
    font-size: 18px;
    margin-left: 280px;
    margin-top: 20px;
}

.menu_supply_activate_LI{
    margin-top: 200px;
    margin-left: 90px;
    font-size: 24px;
    text-decoration: none;
    width: 190px;
    list-style-type: none;
    text-align: center;
}

.menu_supply_activate_li{
    margin-top: 15px;
  text-decoration: none;
    color: white;
    animation: slideIn 1s ease-out forwards;
    opacity: 0;
    margin-left: 40px;
}

.menu_supply_activate_li a {
    color: white;
}

.menu_supply_activate_li_callback {
    width: 230px;
    margin-top: 180px;
    text-decoration: none;
    position: relative; /* Добавим позиционирование для создания линии под текстом */
    color: white;
    margin-left: 1px;
    opacity: 0;
}

a::after {
    display: block;
    content: ""; /*контента в данном блоке не будет поэтому в кавычках ничего не ставим*/
    height: 2px; /*задаём высоту линии*/
    width: 0; /*задаём начальную ширину элемента (линии)*/
    background-color: #FFF; /*цвет фона элемента*/
    transition: width 0.4s ease-in-out;
}



/* Добавляем анимацию при наведении на элемент li */
.menu_supply_activate_li a:hover:after,
.menu_supply_activate_li_callback a:hover:after,
.menu_supply_activate_li_callback a:focus:after,
.menu_supply_activate_li a:focus:after {
    width: 100%;
}

.menu_supply_activate_li a:hover{
color: white;
}

.menu_supply_activate_li_callback a:hover{
color: white;
}

.menu_supply_activate_li_callback a{
    color: white;
    text-decoration: none;
}



.menu_opacity_bgc{
    opacity: 90%;
    position: absolute;
    background-color: #232325;
    width: 390px;
    height: 1350px;
    animation: slideLEft 1.5s ease forwards;
}




    }































}














@media (min-width: 1290px) and (max-width: 1370px) {
    .custom-zoom-page {
        zoom: 51.9%;
    }
}

@media (min-width: 1371px) and (max-width: 1439px) {
    .custom-zoom-page {
        zoom: 54.9%;
    }
}

@media (min-width: 1440px) and (max-width: 1520px) {
    .custom-zoom-page {
        zoom: 57.6%;
    }
}

@media (min-width: 1520px) and (max-width: 1600px) {
    .custom-zoom-page {
        zoom: 61.4%;
    }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .custom-zoom-page {
        zoom: 64.4%;
    }
}

@media (min-width: 1840px) and (max-width: 1859px) {
    .custom-zoom-page {
        zoom: 71%;
    }
}

@media (min-width: 1860px) and (max-width: 1920px) {
    .custom-zoom-page {
        zoom: 74.2%;
    }
}

@media (min-width: 1921px) and (max-width: 2250px) {
    .custom-zoom-page {
        zoom: 81.1%;
    }
}

@media (min-width: 2700px) and (max-width: 3000px) {
    .custom-zoom-page {
        zoom: 91.1%;
    }
}













    @media (min-width: 1780px) and (max-width: 1920px) {

    .Contacts {
        max-width: 1920px;
        height: auto;
        display: flex;
        position: absolute;
        top: 7px; /* Прикрепить шапку к верху экрана */
        z-index: 1000; /* Определите z-индекс, если необходимо */
        /* Дополнительные стили для вашей шапки */
        background-color: #242424;
        font-family: 'a_FuturaOrtoLt', Arial, sans-serif;

      .contacts_logo {
        width: 170px;
        margin-left: 40px;
        margin-top: 8px;
        position: fixed;
        z-index: 1999;
      filter: brightness(0%);
    }

     .Contacts_title{
        margin-top: 211px;
        margin-left: 460px;
        font-weight: bold;
    }

    .Contacts_title:after {
        content: "";
        width: 768px;
        height: 1px;
        background-color: #FFF; /* Цвет линии */
        position: absolute;
        margin-left: -225px;
        margin-top: 57px;
    }
       .menu_supply{
    position: fixed;
    max-width: 45px; /* Установите желаемую ширину для логотипа */
    max-height: 45px;
    margin-left: 1780px;
    margin-top: 25px;
    z-index: 500;
}


    .Contacts_info_glav{
        margin-top: 364px;
        position: absolute;
        margin-left: 460px;
        width: 300px;
        font-size: 18px;
        color: #FFFFFF;
    }

    .Contacts_info{
        margin-top: 10px;
    }

    .Contacts_info_callback{
        margin-top: 96px;
         border: 1px solid #FFF ;/* Add your desired border color and width */
        padding: 7px 25px;
        border-radius: 34px;
        text-align: center;
    }

    .Contacts_card{
        width: 921px;
        height: 422px;
        position: absolute;
        margin-left: 477px;
        margin-top: -440px;
        border: 3px solid white;
    }




    }
}

@media (min-width: 1290px) and (max-width: 1370px) {
    .custom-zoom-page {
        zoom: 51.9%;
    }
}

@media (min-width: 1371px) and (max-width: 1439px) {
    .custom-zoom-page {
        zoom: 54.9%;
    }
}

@media (min-width: 1440px) and (max-width: 1520px) {
    .custom-zoom-page {
        zoom: 57.6%;
    }
}

@media (min-width: 1520px) and (max-width: 1600px) {
    .custom-zoom-page {
        zoom: 61.4%;
    }
}

@media (min-width: 1600px) and (max-width: 1700px) {
    .custom-zoom-page {
        zoom: 64.4%;
    }
}

@media (min-width: 1840px) and (max-width: 1859px) {
    .custom-zoom-page {
        zoom: 71%;
    }
}

@media (min-width: 1860px) and (max-width: 1920px) {
    .custom-zoom-page {
        zoom: 74.2%;
    }
}

@media (min-width: 1921px) and (max-width: 2250px) {
    .custom-zoom-page {
        zoom: 81.1%;
    }
}

@media (min-width: 2700px) and (max-width: 3000px) {
    .custom-zoom-page {
        zoom: 91.1%;
    }
}

.Contacts{
    max-width: 2495px;
    height: auto;
    display: flex;
    position: absolute;
    top: 7px; /* Прикрепить шапку к верху экрана */
    z-index: 1000; /* Определите z-индекс, если необходимо */
    /* Дополнительные стили для вашей шапки */
    background-color: #242424;
    font-family: "Cera Pro Regular", sans-serif;
}

      .contacts_logo {
        width: 170px;
        margin-left: 40px;
        margin-top: 8px;
        position: fixed;
        z-index: 1999;
      filter: brightness(0%);
    }

.contacts_phone{
    margin-left: -500px;
    width: 2495px;
    height: 1460px;
}


.contacts_title{
        color: black;
    font-size: 200px;
    font-weight: 700;
    font-family: a_FuturaOrtoBold, sans-serif;
    margin-top: 123px;
    margin-left: 586px;
    z-index: 1;
    position: absolute;
    opacity: 0.1;
}

.Contacts_title{
    margin-top: 275px;
    margin-left: 600px;
    font-weight: bold;
}

.contacts_menu{
    display: flex;
    color: black;
    position: absolute;
    margin-left: 1400px;
}

.contacts_menu a{
    color: black;
    z-index: 999;
    font-family: "Cera Pro Regular", sans-serif;
        white-space: nowrap;
    padding-left: 180px;
    font-size: 20px;
}

.contacts_menu p{
    color: black;
    z-index: 999;
        white-space: nowrap;
  font-family: "Cera Pro Regular", sans-serif;
    padding-right: 50px;
    font-size: 20px;
}

.contacts_menu_icon{
  width: 50px;
  height: 50px;
  margin-left: 2410px;
  position: fixed;
  margin-top: 15px;
  overflow: hidden;
  z-index: 10110;
}

.contacts_menu_menu{
    position: absolute;
    width: 500px;
    height: 800px;
    margin-left: 1630px;
    margin-top: -2200px;
    z-index: 9999;
}

.contacts_top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    position: absolute;
    margin-left: -900px;
    margin-top: 360px;
}

.Contacts_title:after {
    content: "";
    width: 1000px;
    height: 1px;
    background-color: #000000; /* Цвет линии */
    position: absolute;
    margin-left: -222px;
    margin-top: 75px;
}

.Contacts_info_glav{
    margin-top: 475px;
    position: absolute;
    margin-left: 600px;
    width: 300px;
    font-size: 21px;
    color: #000000;
}

.Contacts_info{
    margin-top: 10px;
}

.Contacts_info_callback{
    margin-top: 125px;
     border: 1px solid #000000;/* Add your desired border color and width */
    padding: 10px 60px;
    border-radius: 45px;
}

.Contacts_card{
    width: 1200px;
    height: 550px;
    position: absolute;
    margin-left: 500px;
    margin-top: -565px;
    border: 3px solid rgba(0, 0, 0, 0.1);
}
